.top_menu {
	height:50px;
	padding-top:5px;
	border-bottom:1px solid rgb(204, 204, 204);
	background:#f1f1f1;
	position:fixed;
	line-height:21px;
	top:0%;
	width:100%;
	display:inline;
	-moz-box-sizing:border-box;
}

.container {
	margin-right:auto;
	margin-left:auto;
	width:1000px;
	padding:0px 30px;
	line-height:2.5;
}

.header-primary {
	float:left;
	position:relative;
	left:1px;
}
.header-image {
	background:url("../img/Mook.jpg") repeat scroll 0% 0% transparent;
	text-decoration:none;
	width:108px;
	height:34px;
	display:inline-block;
	margin-top:3px;
}

body {
	margin:0;
}

ul {
	list-style-type:none;
	padding:0;
}

.link {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:rgb(51, 51, 51);
	font-weight:500;
	text-decoration:none;
	padding:35px;
	padding-bottom:5px;
	padding-top:5px;
	letter-spacing:1px;
}

.link2 {
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	font-size:medium;
	font-weight:500;
	text-decoration:none;
	margin-top:5px;
	padding:0px;
	letter-spacing:1px;
}

.funlink {
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	font-size:medium;
	font-weight:500;
	text-decoration:none;
	padding-left:20px;
	margin-top:5px;
	letter-spacing:1px;
}

.sMenu {
	right:0%;
	margin-top:50px;
	border-left:1px solid rgb(204, 204, 204);
	background-color:#f1f1f1;
	height:100%;
	width:129px;
	box-shadow: 10px 5px 50px #EEEEEE;
	text-align:center;
	position:fixed;
	-moz-box-sizing:border-box;
}

.content {
	width:600px;
	left:10%;
	top:10%;
	padding:0px;
	position:absolute;
}

.content2 {
	width:400px;
	height:400px;
	left:40%;
	top: 10%;
	position:absolute;
}

.content3 {
	background-color:#336550;
	float:right;
	margin-top:56px;
	width:100%;
	position:relative;
	display:block;
	border-bottom:1px solid rgb(204, 204, 204);
	padding-top:15px;
}

.rss-box {
	 margin: 0.5em;
	 margin-top:6%;
	 width: 200px;
	 background-color: #FFFFFF;
     border: 7px solid #000000;
	 float:left;
}

.rss-items {
	margin-top:0px;
	padding:0.5em;
	margin-left:0px;
	color: #FFFFFF;
}

p.rss-title {
	padding:0em;
}

.rss-title {
	text-decoration: none;
	font-family: small tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
	font-size: 15px;
	background-color:#000000;
	color:white;
	font-weight:bold;
	margin: 0px;
	padding:0em;
	text-align: left;
}

.rss-item  {
  font-family: small tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
  font-size: 10px;
  font-weight : normal;
  list-style:none;
  padding-bottom:1em;
  color:#808080;
}

.rss-item a {
	text-decoration : none;
	color: #330066;
	font-size: 12px;
	font-weight:light;
	font-family:small tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
}

.rss-item a:visited {
	color:red;
}

.rss-date {
	font-size: 85%;
	font-weight : normal;
	color: #fff;
}

a:hover, a:focus{
	color:#e51837;
	text-decoration:underline;
}

#customize-list{
	float:left;
	margin-left:20px;
	list-style:none;
}

#word {
	text-decoration:underline;
	font-style:italic;
}

#word2 {
	color:white;
	font-style:italic;
}